*, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  max-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
small {
  font-size: 80%;
}

@import url('https://fonts.googleapis.com/css?family=Advent+Pro');

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	line-height: 1;
  font-size: 110%;
  box-sizing: border-box;
  overflow-x: scroll;
  background-color: #222;
  color: #fff;
}

h1,h2,h3,h4,h5 {
  font-family: "Advent Pro", sans-serif;
  font-size: 150%;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: white;
  padding: 5px;
}

h1 {
  font-size: 250%;
}

h2,h3 {
  font-weight: 500;
}

/* text shadow helps reading clarity for headings on a non-white background */
h1, h4, h5 {
  text-shadow: black 1px 1px;
}

strong {
  font-weight: 700;
  font-size: 110%;
}

main {
  text-align: center;
  margin: 0 auto;
  min-height: 92vh;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  /* height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  background-size: contain; */
}

.grid {
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px
}

.grid-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.border-bottom {
  margin: 0 auto;
  border-bottom: 4px solid white;
}

header, 
footer {
  padding: 20px 25px;
  background-color: rgba(176,196,222,0.2)
}

.grid-header {
  grid-template-columns: 2fr 12fr;
}

.tags-div {
  margin: 40px 10px;
  padding-bottom: 40px;
}

.tags-grid {
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  grid-template-columns: 1fr 1fr;
}

.tag-li {
  padding: 5px;
  border: 1px groove aliceblue;
}

.grid-figure {
  padding: 15px 15px 5px 15px;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.03);
  word-wrap: break-word;
  background-color: #303030;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 0.25rem;
}

.photo-grid {
  padding: 10px;
  grid-template-columns: 1fr;
}

/* This resets the React FancyBox Lightbox image gallery CSS so the img fits in (does not overflow) a CSS grid container */
.react-fancybox .thumbnail img {
  max-width: 100%;
}

.box .image-box img {
  max-height: 90vh;
}

/* Single Photo component styles */
.single-photo {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
}

.caption,
.caption-text {
  color: #222;
}

@media all and (min-width: 768px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
  }
  .tags-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (min-width: 1220px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .tags-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .tags-div {
    margin: 40px auto;
    max-width: 900px;
  }
}

@media all and (min-width: 1520px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media all and (min-width: 1920px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
